tmux/.tmux/plugins
vim/.vim/plugged
vim/.vim/undodir
vim/.vim/view
config/.config/coc/
config/.config/gh/
config/.config/flutter/
config/.config/configstore/
config/.config/iterm2/
config/.config/gh-dash
Brewfile.lock.json
